Flask
pandas
numpy
matplotlib
seaborn
scikit-learn
catboost
xgboost
dill
gradio
setuptools # You can add this to your requirements.txt file
# ipython
# pyzmq
# ptyprocess
# ipykernel
# decorator
# Uncomment the next line if you want to build the packages 
# -e .
